@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.aboutSection{
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
    align-items: center;
    padding-top: 1rem;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
    box-sizing: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    .image {
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid white;
        img{
            width: 100%;
        }
        width: 30%;
        height: 20%;
    }
    .yellowDot{
        background-color: yellow;
        border-radius: 50%;
        height: 1rem;
        position: absolute;
    }
    .about{
        text-align: center;
        h3{
            font-size: 1rem;
        }
        p{
            font-size: .8rem;
            margin-top: -1rem;
        }
    }
}