.frontSection{
    color: white;
    height: 100vh;
    display: flex;
    width: 100%;
    overflow-y: scroll;
    .centerArea{
        width: 97%;
    }
    .rightArea{
        width: 0%;
    }
}
.frontSection::-webkit-scrollbar {
    display: none;
  }