.certificateSection {
    padding: 2rem;
    .certificateContent{
        display: flex;
        .certificateImg{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            img{
                width: 60%;
            }
        }
    }

    h3 {
        text-align: center;
        font-family: "Sedan", serif;
        letter-spacing: .1rem;
        font-size: 2rem;
    }

    .certificates {
        width: 60%;
        .certificate{
            animation: slideleft 1s linear 0s 1;
        }
        .certificate,
        .platform {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .certificateName{
            width: 80%;
            background-color: white;
            color: black;
            padding: 0rem 1rem;
            border-radius: 25px 0px 0px 25px;
            margin: 1rem 0rem;
        }
        .platform{
            width: 20%;
            background-color: #cc7722;
            padding: 0.1rem 1rem;
        }

        img {
            margin-left: 1rem;
            width: 20%;
        }
    }
    .c1{
        margin-left: -6rem;
        margin-right: 6rem;
    }
    .c2{
        margin-left: -3rem;
        margin-right: 3rem;
    }
}