.rightSideSection{
    background-color: #01011f;
    height: 100vh;
    position: fixed;
    border-left: 1px solid white;
    z-index: 15;
    .icon{
        a{
            display: flex;
            justify-content: center;
        }
        img{
            width: 70%;
            margin: 1rem 0rem;
        }
    }
}